Source: l4fame-manager
Maintainer: Keith Packard <packard@hpe.com>
Uploaders: Keith Packard <keithp@keithp.com>
Section: metapackages
Priority: optional
Origin: HPE
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8

Package: l4fame-manager
Section: metapackages
Priority: optional
Architecture: all
Depends: tm-librarian,
	tm-lmp,
	tm-utils,
	tm-libfuse,
	${misc:Depends}
Description: l4fame manager meta package
 This meta package loads all of the software necessary to run an
 l4fame manager.
